$black = #000
$white = #fff
$text = #5e5555
$red = #fc85a1

$Black = Black
$Bold = Bold
$BoldItalic = Bold-Italic
$BookItalic = Book-Italic
$Book = Book
$HeavyItalic = Heavy-Italic
$Heavy = Heavy
$LightItalic = Light-Italic
$RegularItalic = Regular-Italic
$Regular = Regular
$ThinItalic = Italic
$Thin = Thin
$Light = Light
