@import "_variables.styl"
@import "_fonts.styl"
@import "_global.styl"

//common
@import "./blocks/common/_header.styl"
@import "./blocks/common/_footer.styl"
@import "./blocks/common/_cart.styl"
@import "./blocks/common/_popup1.styl"
@import "./blocks/common/_popup2.styl"
@import "./blocks/common/_popup3.styl"

// index page
@import "./blocks/index/_home.styl"
@import "./blocks/index/_products.styl"
@import "./blocks/index/_about.styl"
@import "./blocks/index/_delivery.styl"
@import "./blocks/index/_facts.styl"
@import "./blocks/index/_wholesale.styl"
@import "./blocks/index/_contacts.styl"
