.about-leaf
	img(src="/images/footer-leaf1.png")
.berry3
	img(src="/images/berry3.png")
.about
	.about-bg-green.about-bg-green-active
	.about-bg-pink
	.about-bg-blue
	.g-wrapper
		.about__items
			.about__items__header
				.rotator
				.about__items__header-title Натуральный продукт прямиком с фермы
			.about__items__nav
				.about__items__nav-item.about__items__nav-item-active#about1
					<svg height="512pt" viewBox="-71 0 512 512.001" width="512pt" xmlns="http://www.w3.org/2000/svg">
					<path fill="#5e5555" d="m363.882812 112.484375c12.394532-21.488281 4.996094-49.054687-16.480468-61.464844l-20.023438-11.554687c1.773438-8.585938 2.621094-16.554688 2.621094-24.464844 0-8.289062-6.707031-15-15-15h-240c-8.289062 0-15 6.710938-15 15 0 7.910156.851562 15.878906 2.625 24.464844l-20.027344 11.554687c-21.472656 12.410157-28.871094 39.976563-16.480468 61.480469 12.410156 21.460938 39.933593 28.84375 61.480468 16.480469l19.894532-11.484375c12.476562 10.605468 26.878906 18.851562 42.507812 24.375v23.128906c0 24.816406 20.1875 45 45 45 24.816406 0 45-20.183594 45-45v-23.128906c15.628906-5.523438 30.03125-13.769532 42.511719-24.375l19.90625 11.484375c21.503906 12.390625 49.054687 4.980469 61.464843-16.496094zm0 0"/>
					<path fill="#5e5555" d="m195 361c8.277344 0 15-6.722656 15-15 0-8.273438-6.722656-15-15-15s-15 6.726562-15 15c0 8.277344 6.722656 15 15 15zm0 0"/>
					<path fill="#5e5555" d="m345 241h-300c-8.402344 0-15 6.601562-15 15s6.597656 15 15 15h15v27l-39.300781 26.398438c-12.898438 8.402343-20.699219 22.800781-20.699219 38.402343 0 15 6.898438 28.5 19.199219 37.5 12.957031 9.117188 26.429687 10.433594 40.800781 6.597657v-31.796876l-8.699219 3c-5.101562 1.5-10.199219.898438-14.703125-2.101562-9.335937-7.339844-8.429687-20.675781.601563-26.699219l22.800781-15.300781v41.101562l90-30c.601562-24.601562 20.402344-44.097656 45-44.097656 24.902344 0 45 20.097656 45 45 0 24.898438-20.097656 45-45 45-14.398438 0-27.296875-6.902344-35.398438-17.402344l-98.699218 33c-.300782 0-.601563.296876-.902344.296876v60.101562c0 24.898438 20.097656 45 45 45h180c24.902344 0 45-20.101562 45-45v-196h15c8.402344 0 15-6.601562 15-15s-6.597656-15-15-15zm0 0"/></svg>
				.about__items__nav-item#about2
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512" height="512">
					<g>
						<g>
							<rect fill="#5e5555" x="76.011" width="210" height="62"/>
							<path fill="#5e5555" d="M151.011,332c0-9.6,14.099-31.8,30-51.899c15.901,20.099,30,42.599,30,51.899c0,16.5-13.5,30-30,30    S151.011,348.5,151.011,332z"/>
							<polygon fill="#5e5555" points="339.111,152 22.91,152 63.111,92 298.91,92   "/>
						</g>
						<g>
							<path fill="#5e5555" d="M286.011,332v180h210V332H286.011z M286.011,242v60h210v-60H286.011z"/>
						</g>
						<rect fill="#5e5555" x="16.011" y="452" width="240" height="60"/>
						<path fill="#5e5555" d="M346.011,182c-7.87,0-333.032,0-330,0v240h240V212h90V182z M181.011,392c-32.999,0-60-27.001-60-60   c0-29.099,40.8-75.901,48.9-84.901l11.1-12.599l11.1,12.599c8.101,9,48.9,55.801,48.9,84.901   C241.011,364.999,214.01,392,181.011,392z"/>
					</g>
					</svg>
				.about__items__nav-item#about3
					<svg height="597pt" viewBox="-119 -18 597 597.33227" width="597pt" xmlns="http://www.w3.org/2000/svg">
					<path fill="#5e5555" d="m143.277344 560 18.464844-159.929688h-159.03125l18.460937 159.929688zm-85.449219-31.132812-19.867187 2.296874-6.914063-59.972656 19.851563-2.300781zm-11.546875-99.957032 2.308594 19.992188-19.859375 2.277344-2.300781-19.992188zm0 0"/>
					<path fill="#5e5555" d="m192.175781 59.972656v17.0625c-.019531 10.125-2.210937 20.117188-6.4375 29.320313l-6.386719 13.839843h125.582032l-6.375-13.859374c-4.222656-9.183594-6.414063-19.167969-6.425782-29.269532v-17.09375zm0 0"/>
					<path fill="#5e5555" d="m312.121094 9.996094c0-5.519532-4.472656-9.996094-9.992188-9.996094h-119.949218c-5.519532 0-9.996094 4.476562-9.996094 9.996094v29.984375h139.9375zm0 0"/>
					<path fill="#5e5555" d="m170.964844 320.105469h-177.480469l6.917969 59.972656h163.648437zm0 0"/>
					<path fill="#5e5555" d="m142.324219 200.417969c-6.640625 14.457031-10.097657 30.171875-10.121094 46.082031v53.613281h49.976563c2.851562 0 5.566406 1.222657 7.457031 3.351563 1.898437 2.125 2.796875 4.96875 2.464843 7.796875l-9.222656 79.964843-14.863281 128.875 154.101563.125c16.5625 0 29.988281-13.425781 29.988281-29.988281v-243.535156c-.03125-15.875-3.472657-31.554687-10.089844-45.980469l-27.898437-60.535156h-143.992188zm29.859375 46.082031v23.628906h-19.988282v-23.628906c.019532-13.015625 2.839844-25.875 8.269532-37.703125l18.167968 8.367187c-4.230468 9.199219-6.433593 19.210938-6.449218 29.335938zm8.054687-80.515625 18.15625 8.375-9.238281 19.992187-18.152344-8.375zm0 0"/></svg>
		.about__container
			.about__container-block
				img(src="/images/cow.png")
			.about__container-block
				.about__container-block-number 01
				.about__container-block-title Доим коров на собственной ферме
				.about__container-block-text На ферме животным созданы максимально комфортные условия - они свободно передвигаются по коровнику, в котором установлены специальные чесалки и поилки.
