.delivery
	.g-wrapper
		.delivery__titles
			.delivery__titles-title Доставка и оплата
			.delivery__titles-desc
				p Бесплатная доставка по Москве в пределах 8-12 км от МКАД.
				p Доставка с часовым интервалом и без опозданий.
		.delivery__blocks
			.delivery__block
				.delivery__block-img
					img(src="/images/phone.png")
				.delivery__block-title Заказ
				.delivery__block-text Наш менеджер свяжется с Вами, чтобы обговорить детали, такие как удобное время доставки и предпочитаемая продукция
			.delivery__block
				.delivery__block-img
					img(src="/images/payment.png")
				.delivery__block-title Оплата
				.delivery__block-text Вы сами выбираете удобный способ оплаты. Оплатить можно по карте или наличными курьеру
			.delivery__block
				.delivery__block-img
					img(src="/images/delivery.png")
				.delivery__block-title Доставка
				.delivery__block-text Доставка заказа удобным для Вас способом: курьером до двери, до пункта выдачи или доставка Почтой России.
			.delivery__block
				.delivery__block-img
					img(src="/images/sale.png")
				.delivery__block-title Скидки
				.delivery__block-text  Скидки до 40% для пенсионеров, многодетных семей, ветеранов труда и инвалидов.
