.h
	.g-wrapper
		.home
			.home__block
				.home__block-title
					.home__block-title-text Свежайшие натуральные продукты прямо с фермы совхоза им.Ленина
					.home__block-title-desc Вся продукция производится на собственных ферамах и по своим биологическим показателям превышает установленные ГОСТы, что соответствует сорту «экстра», являющегося эталоном качества.
				.home__block-wholesale
					<svg enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
						<path fill="#5e5555" d="m478.95 324.27h-445.9c-8.815 0-15.983 7.168-15.983 15.983v53.367c0 8.815 7.168 15.983 15.983 15.983h445.9c8.815 0 15.983-7.168 15.983-15.983v-53.367c1e-3 -8.815-7.167-15.983-15.982-15.983zm-444.82 68.266v-51.2h443.73v51.2h-443.73z"/>
						<path fill="#5e5555" d="m493.06 221.87h-474.13c-10.443 0-18.935 8.49-18.935 18.935v81.596c0 10.445 8.491 18.935 18.935 18.935h474.13c10.445 0 18.935-8.491 18.935-18.935v-81.596c1e-3 -10.445-8.489-18.935-18.934-18.935zm0 102.4h-474.13c-1.033 0-1.869-0.836-1.869-1.869v-81.596c0-1.033 0.836-1.869 1.869-1.869h474.13c1.033 0 1.869 0.836 1.869 1.869v81.596c1e-3 1.033-0.835 1.869-1.868 1.869z"/>
						<path fill="#5e5555" d="m493.06 392.53h-474.13c-10.443 0-18.935 8.491-18.935 18.936v81.596c0 10.444 8.492 18.935 18.935 18.935h474.13c10.446 0 18.936-8.491 18.936-18.935v-81.596c0-10.445-8.49-18.936-18.935-18.936zm0 102.4h-474.13c-1.033 0-1.869-0.836-1.869-1.869v-81.596c0-1.033 0.836-1.869 1.869-1.869h474.13c1.033 0 1.869 0.836 1.869 1.869v81.596c1e-3 1.033-0.835 1.869-1.868 1.869z"/>
						<path fill="#5e5555" d="m375.47 256h-238.93c-14.114 0-25.6 11.486-25.6 25.6s11.486 25.6 25.6 25.6h238.93c14.114 0 25.6-11.486 25.6-25.6s-11.486-25.6-25.599-25.6zm0 34.133h-238.93c-4.702 0-8.533-3.831-8.533-8.533s3.831-8.533 8.533-8.533h238.93c4.702 0 8.533 3.831 8.533 8.533s-3.831 8.533-8.532 8.533z"/>
						<path fill="#5e5555" d="M131.174,0H56.55c-7.654,0-13.884,6.229-13.884,13.884v23.433c0,7.654,6.229,13.884,13.884,13.884h74.633    c7.654,0,13.884-6.229,13.884-13.892V13.884C145.068,6.229,138.838,0,131.174,0z M128,34.133H59.734V17.067H128V34.133z"/>
						<path fill="#5e5555" d="M293.309,0h-74.624C211.029,0,204.8,6.229,204.8,13.884v23.433c0,7.654,6.229,13.884,13.892,13.884h74.624    c7.654,0,13.884-6.229,13.884-13.892V13.884C307.201,6.229,300.971,0,293.309,0z M290.133,34.133h-68.267V17.067h68.267V34.133z"/>
						<path fill="#5e5555" d="M455.442,0h-74.624c-7.654,0-13.884,6.229-13.884,13.884v23.433c0,7.654,6.229,13.884,13.892,13.884h74.624    c7.654,0,13.884-6.229,13.884-13.892V13.884C469.333,6.229,463.104,0,455.442,0z M452.268,34.133H384V17.067h68.267V34.133z"/>
						<path fill="#5e5555" d="m475.58 98.995l-15.215-23.62c-5.299-8.226-8.098-17.801-8.098-27.691v-13.551h-68.268v13.551c0 9.899-2.799 19.473-8.098 27.699l-15.215 23.612c-7.083 10.982-10.82 23.757-10.82 36.932v103.01h136.53v-103.01c1e-3 -13.184-3.738-25.949-10.819-36.932zm-6.247 122.87h-102.4v-85.939c0-9.89 2.799-19.473 8.107-27.682l15.215-23.62c6.443-10.01 10.121-21.495 10.726-33.425h34.304c0.606 11.93 4.284 23.415 10.726 33.425l15.224 23.62c5.299 8.218 8.098 17.792 8.098 27.682v85.939z"/>
						<path fill="#5e5555" d="m313.45 98.995l-15.215-23.62c-5.299-8.226-8.098-17.801-8.098-27.691v-13.551h-68.267v13.551c0 9.899-2.799 19.473-8.098 27.699l-15.215 23.612c-7.083 10.982-10.82 23.757-10.82 36.932v103.01h136.53v-103.01c1e-3 -13.184-3.738-25.949-10.82-36.932zm-108.65 122.87v-85.939c0-9.89 2.799-19.473 8.107-27.682l15.215-23.62c6.443-10.01 10.121-21.495 10.726-33.425h34.304c0.606 11.93 4.284 23.415 10.726 33.425l15.223 23.62c5.299 8.218 8.098 17.792 8.098 27.682v85.939h-102.4z"/>
						<path fill="#5e5555" d="m151.31 98.995l-15.215-23.62c-5.299-8.226-8.098-17.801-8.098-27.691v-13.551h-68.266v13.551c0 9.899-2.799 19.473-8.098 27.699l-15.216 23.612c-7.083 10.982-10.82 23.757-10.82 36.932v103.01h136.53v-103.01c0-13.184-3.737-25.949-10.82-36.932zm-6.245 122.87h-102.4v-85.939c0-9.89 2.799-19.473 8.098-27.682l15.215-23.62c6.451-10.011 10.128-21.496 10.735-33.426h34.304c0.606 11.93 4.284 23.415 10.726 33.425l15.224 23.62c5.299 8.218 8.098 17.792 8.098 27.682v85.94z"/>
						<path fill="#5e5555" d="m90.044 95.292c-3.934-2.62-9.225-1.527-11.827 2.398l-13.116 19.797c-3.507 5.461-5.367 11.836-5.367 18.441v60.339c0 4.71 3.823 8.533 8.533 8.533s8.533-3.823 8.533-8.533v-60.339c0-3.319 0.913-6.502 2.586-9.097l13.056-19.712c2.602-3.934 1.527-9.225-2.398-11.827z"/>
						<path fill="#5e5555" d="m252.18 95.292c-3.934-2.62-9.224-1.527-11.827 2.398l-13.116 19.797c-3.507 5.461-5.367 11.836-5.367 18.441v60.339c0 4.71 3.823 8.533 8.533 8.533s8.533-3.823 8.533-8.533v-60.339c0-3.319 0.913-6.502 2.586-9.097l13.056-19.712c2.604-3.934 1.527-9.225-2.398-11.827z"/>
						<path fill="#5e5555" d="m414.31 95.292c-3.934-2.62-9.225-1.527-11.827 2.398l-13.116 19.797c-3.507 5.461-5.367 11.836-5.367 18.441v60.339c0 4.71 3.823 8.533 8.533 8.533s8.533-3.823 8.533-8.533v-60.339c0-3.319 0.913-6.502 2.586-9.097l13.056-19.712c2.604-3.934 1.529-9.225-2.398-11.827z"/>
						<path fill="#5e5555" d="m119.47 443.73h-68.266c-4.71 0-8.533 3.823-8.533 8.533s3.823 8.533 8.533 8.533h68.267c4.71 0 8.533-3.823 8.533-8.533-1e-3 -4.71-3.824-8.533-8.534-8.533z"/>
						<path fill="#5e5555" d="m290.13 443.73h-68.267c-4.71 0-8.533 3.823-8.533 8.533s3.823 8.533 8.533 8.533h68.267c4.71 0 8.533-3.823 8.533-8.533 1e-3 -4.71-3.822-8.533-8.533-8.533z"/>
						<path fill="#5e5555" d="m452.27 443.73h-68.268c-4.71 0-8.533 3.823-8.533 8.533s3.823 8.533 8.533 8.533h68.267c4.71 0 8.533-3.823 8.533-8.533s-3.823-8.533-8.532-8.533z"/>
						<path fill="#5e5555" d="m179.2 443.73h-17.067c-4.71 0-8.533 3.823-8.533 8.533s3.823 8.533 8.533 8.533h17.067c4.71 0 8.533-3.823 8.533-8.533s-3.823-8.533-8.533-8.533z"/>
						<path fill="#5e5555" d="m341.33 443.73h-8.533c-4.71 0-8.533 3.823-8.533 8.533s3.823 8.533 8.533 8.533h8.533c4.71 0 8.533-3.823 8.533-8.533 1e-3 -4.71-3.822-8.533-8.533-8.533z"/>
					</svg>
					a(href="#wholesale") Оптовые продажи
				.home__block-buttons
					a(href="#facts").home__block-buttons-button
						.home__block-buttons-button__title Сыры
						.home__block-buttons-button__img
							img(src="/images/cheese.png")
						.home__block-buttons-button__link
							i.fa.fa-long-arrow-right
					a(href="#facts").home__block-buttons-button
						.home__block-buttons-button__title Молоко
						.home__block-buttons-button__img
							img(src="/images/milk.png")
						.home__block-buttons-button__link
							i.fa.fa-long-arrow-right
			.home__block
				img(src="/images/bottle.png")
			a(href="#products").home__line Листайте вниз
				<svg enable-background="new 0 0 210.414 210.414" version="1.1" viewBox="0 0 210.414 210.414" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
					<path fill="#000" d="m105.21 0c-38.675 0-70.138 31.45-70.138 70.104v70.21c0 38.653 31.463 70.1 70.138 70.1s70.138-31.446 70.138-70.1v-70.21c0-38.654-31.464-70.104-70.138-70.104zm62.345 140.31c0 34.357-27.968 62.307-62.345 62.307s-62.345-27.95-62.345-62.307v-70.21c0-34.357 27.968-62.311 62.345-62.311s62.345 27.953 62.345 62.311v70.21z"/>
					<path fill="#000" d="m105.21 23.379c-2.152 0-3.897 1.743-3.897 3.897v35.286c0 2.154 1.745 3.897 3.897 3.897s3.897-1.743 3.897-3.897v-35.286c-1e-3 -2.154-1.745-3.897-3.897-3.897z"/>
				</svg>
	.berry1
		img(src="/images/berry1.png")
