@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/FontAwesome.otf");
}
@font-face {
  font-family: 'Black';
  src: url("/fonts/Fontfabric - UniNeueBlack.otf");
}
@font-face {
  font-family: 'Bold';
  src: url("/fonts/Fontfabric - UniNeueBold.otf");
}
@font-face {
  font-family: 'Bold-Italic';
  src: url("/fonts/Fontfabric - UniNeueBold-Italic.otf");
}
@font-face {
  font-family: 'Book-Italic';
  src: url("/fonts/Fontfabric - UniNeueBook-Italic.otf");
}
@font-face {
  font-family: 'Book';
  src: url("/fonts/Fontfabric - UniNeueBook.otf");
}
@font-face {
  font-family: 'Heavy-Italic';
  src: url("/fonts/Fontfabric - UniNeueHeavy-Italic.otf");
}
@font-face {
  font-family: 'Heavy';
  src: url("/fonts/Fontfabric - UniNeueHeavy.otf");
}
@font-face {
  font-family: 'Light-Italic';
  src: url("/fonts/Fontfabric - UniNeueLight-Italic.otf");
}
@font-face {
  font-family: 'Regular-Italic';
  src: url("/fonts/Fontfabric - UniNeueRegular-Italic.otf");
}
@font-face {
  font-family: 'Regular';
  src: url("/fonts/Fontfabric - UniNeueRegular.otf");
}
@font-face {
  font-family: 'Thin-Italic';
  src: url("/fonts/Fontfabric - UniNeueThin-Italic.otf");
}
@font-face {
  font-family: 'Thin';
  src: url("/fonts/Fontfabric - UniNeueThin.otf");
}
@font-face {
  font-family: 'Light';
  src: url("/fonts/Fontfabric - UniNeue-Light.otf");
}
