* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
a {
  text-decoration: none;
  color: $black;
}
html,
body {
  height: 100%;
  background-color: $white;
}
body {
  overflow-x: hidden;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-family: $Light;
  font-weight: 100;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
  font-family: $Light;
  font-weight: 100;
}
textarea:-moz-placeholder,
input:-moz-placeholder {
  font-family: $Light;
  font-weight: 100;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-family: $Light;
  font-weight: 100;
}
.render {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $white;
}
.g-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  position: relative;
}
.ymap-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: url("/images/contacts-map.jpg") #fff no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
}
#map-yandex {
  position: relative;
  width: 100%;
  height: 414px;
  cursor: pointer;
  background-color: transparent;
}
.loader {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000;
  -webkit-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  opacity: 0;
  background-color: rgba(0,0,0,0.55);
}
.loader:after,
.loader:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.loader.is-active {
  top: 0;
  opacity: 1;
}
.loader-default:after {
  position: absolute;
  top: -webkit-calc(50% - 24px);
  top: calc(50% - 24px);
  left: -webkit-calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  content: '';
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
  border: solid 8px #fff;
  border-left-color: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .g-wrapper {
    width: 100%;
    padding: 0 15px;
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
