.cart-bg
	position fixed
	width 100%
	height 100%
	z-index -1
	opacity 0
	top 0
	left 0
	background-color rgba(0,0,0,.5)
.cart
	position fixed
	right 0
	top 0
	height 100%
	transform translateX(100%)
	z-index 9999
	padding 21px
	background-color $white
	max-width 706px
	overflow-y scroll
	&__close
		max-width 22px
		max-height 22px
		height 22px
		width 22px
		cursor pointer
		position absolute
		right 21px
		top 21px
		& svg polygon
			transition .3s
		&:hover svg polygon
			fill $red
	&__count
		padding 27px 50px
		display flex
		justify-content flex-end
		align-items flex-end
		& span
			&:nth-child(1)
				font-family $Bold
				font-size 1.125rem
				color $text
				margin-right 5px
			&:nth-child(2)
				font-family $Bold
				font-size 2rem
				line-height 32px
				color $text
	&__items
		padding 30px 50px 0 50px
	&__title
		font-family $Bold
		color $text
		line-height 34px
		margin-top 20px
		margin-left 50px
		font-size 2rem
	&__item
		border-bottom 1px solid #f2f2f2
		padding 20px 0
		display flex
		position relative
		align-items center
		justify-content space-between
		&:nth-child(1)
			border-top 1px solid #f2f2f2
		&-image
			flex-basis 15%
			& img
				width 100%
		&-title
			font-family $Bold
			font-size 1.125rem
			line-height 24px
			color $text
			flex-basis 30%
		&-counts
			flex-basis 15%
			display flex
			align-items center
			justify-content space-around
			& i
				color $text
				cursor pointer
				font-size 10px
			&-number
				font-family $Regular
				font-size 1rem
				line-height 32px
				color $text
		&-price
			text-align center
			flex-basis 25%
			font-family $Bold
			font-size 1.5rem
			line-height 32px
			color $text
		&-close
			max-width 12px
			max-height 12px
			height 12px
			width 12px
			cursor pointer
			position absolute
			right 10px
			top 10px
			& svg polygon
				transition .3s
			&:hover svg polygon
				fill $red
	&__ordering
		border 1px solid #f2f2f2
		border-radius 7px
		margin-bottom 21px
		flex-direction column
		display flex
		align-items center
		padding 40px 27px 37px 27px
		&-title
			text-align center
			font-size 2rem
			line-height 36px
			margin-bottom 15px
			color $text
			font-family $Bold
		&-desc
			font-size 1rem
			line-height 24px
			text-align center
			width 60%
			color $text
			margin-bottom 20px
			font-family $Book
		&-form
			display flex
			flex-wrap wrap
			justify-content space-between
			&-input
				flex-basis 49%
				margin-bottom 27px
			& input
				font-family $Light
				font-size 1rem
				line-height 26px
				color $text
				border-radius 7px
				padding 17px
				width 100%
				border none
				background-color #f8f9fb
			&-button
				flex-basis 49%
				& button
					border-radius 35px
					background #e9446b
					border none
					padding 13.5px 27px
					width 87%
					cursor pointer
					font-family $Bold
					color $white
					font-size 1.125rem
					margin-bottom 20px
					line-height 30px
					box-shadow 0 10px 25px #e9446b
					transition .3s
					&:hover
						background #e91c4c

			&-link
				flex-basis 49%
				margin-top 15px
				&-item
					font-size 1.125rem
					line-height 24px
					font-family $Book
					color $text
					transition .3s
					&:hover
						color $red
				& i
					margin-left 4px
@media(max-width: 500px)
	.cart
		padding 0
		&__title
			margin-left 0
			text-align center
		&__count
			padding 20px 0
			justify-content center
		&__items
			padding 20px 20px 0 20px
		.cart__item
			flex-wrap wrap
			&-image
				flex-basis 50%
			&-title
				text-align center
				flex-basis 50%
			&-counts
				flex-basis 50%
			&-price
				flex-basis 50%
		&__ordering
			border-top 1px solid #f2f2f2
			border-radius 0
			&-form
				flex-wrap wrap
				&-input
					flex-basis 100%
				&-button
					flex-basis 100%
					& button
						width 100%
				&-link
					flex-basis 100%
					text-align center
			&-desc
				width 100%
